POSTGRES_DB=tnsu_inventory
POSTGRES_USER=tnsu_inventory
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5434
API_PORT=8081
FRONTEND_PORT=5173
FRONTEND_BASE_URL=http://localhost:5173

DEV_AUTH_EMAIL=mechanic@tansu.local

SMTP_PORT=1027
MAILHOG_UI_PORT=8027

ENTRA_TENANT_ID=
ENTRA_AUDIENCE=

VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_TENANT_ID=
VITE_ENTRA_AUDIENCE=
VITE_ENTRA_API_SCOPE=

# VITE_ENTRA_REDIRECT_URI=https://localhost:5173/login

DICTIONARY_BASE_URL=https://api.tnsu.kz
ZUP_TENANT_ID=
ZUP_CLIENT_ID=
ZUP_CLIENT_SECRET=
ZUP_SCOPE=

SHAREPOINT_SITE_URL=https://tnsukz.sharepoint.com/sites/kps

SHAREPOINT_ENABLED=false
SHAREPOINT_TENANT_ID=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=

TEAMS_WEBHOOK_URL=

PROCUREMENT_BASE_URL=

VITE_SHOW_DEV_LOGIN=true
